{% extends "base.html" %}

{% block content %}
<h1 class="subh">Register</h1>
{% if form.errors %}
{% for field, errors in form.errors.items() %}
{% for error in errors %}
<div class="alert"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ error }}
</div>
{% endfor %}
{% endfor %}
{% endif %}
<form action="{{ url_for('register') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username }}
    {{ form.email.label }} {{ form.email }}
    {{ form.phone.label }} {{ form.phone }}
    {{ form.password.label }} {{ form.password }}
    {{ form.confirm_password.label }} {{ form.confirm_password }}
    <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
{% endblock %}